.footerlayout
	background-color segundo
	bordesMaterial()
	color white
	height 300px
	h2
		text-align center
.copyrightlayout
	background-color primer
	bordesMaterial()
	color white
	h6
		text-align center
.nav-footer
	list-style none
	a
		color white
	a:hover
		color base