.dashboard-title
	position relative
	top -100px
	background-color fondo
	color white
	width 300px
.dashboard-patient
	flexalign(center,inline-flex,row,space-around)
	div
		background-color primer
		bordesMaterial()
		width 200px
		height 200px
		flexalign(center,inline-flex,row,center)
		position relative
		top -100px
		a
			text-decoration none
			color white