<template name="about">
	
	<div class="container-fluid about-container">
		<h2>About Us</h2>
		<div class="container">
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
				<h3>Mision</h3>
				<p>We offer health services that positively transform the lives of our patients and their family, while building an institution to fulfill ourselves in our vocation.</p>
			</div>
			<img class="col-xs-2 col-sm-2 col-md-2 col-lg-2" src="img/personas/personasuno.jpg" alt="">
		</div>
		<div class="container">
			<img class="col-xs-2 col-sm-2 col-md-2 col-lg-2" src="img/personas/personasdos.jpg" alt="">
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
				<h3>Vision</h3>
				<p>Our dream is to be the institution of medical services more national presence, recognized as a reference in medical practices, infrastructure, service experience, work environment and promoting human development.</p>
			</div>
		</div>
		<div class="container">
				<h3>Our values</h3>
				<ul >
					<li>Transcend through service to others.</li>
					<li>We are highly reliable.</li>
					<li>We smile to life.</li>
					<li>We create environments focused on patient welfare.</li>
					<li>Guarantee facilities neat and shiny.</li>
					<li>We are proactive generating value to our service every day.</li>
					<li>We create and continually innovate.</li>
				</ul>
		</div>
		<div class="container">
		<h3>What distinguishes us</h3>
			<ol>
				<li><b>Infrastructure focused on the welfare of the patient and his companions:</b> friendly and warm atmosphere, where the patient and family feel welcome in an atmosphere of tranquility.</li>
				<li><b>Safety and risk control under quality management model:</b> Processes controlled systematically and focused on efficiency and quality of medical service.
Advanced technology in each medical service: medical equipment of last generation in each of the areas.</li>
				<li><b>Management and patient experience with Host Family Welfare:</b> innovative concept built by the IDB Group Clinics, where non-medical needs of the patient are also covered. Wellness Hosts are customizing the service culture we promote.</li>
				<li><b>Care services specialist:</b> Personalized service specialist which receive administrative support, account management, and others.</li>

			</ol>
		</div>
		<div class="container">
			<h3>History</h3>
			<p>2016 - now : Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p>2015- 2016 : Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>

</template>