<template name="home">

<!-- formulario para pedir cita -->
<div class="container-fluid citahome">
<h3>Appointment request</h3>
	{{> dateForm}}
</div>
<!-- informacion de la empresa -->
<div class="container tudentista">
	<!--Subtitulo  -->
	<h2>The best system of medical records and appointments!</h2>
	<!-- subtitulo -->
	<h5>IN CLINICALME WARRANT THE SMILE OF YOUR FAMILY</h5>
	<!-- informacion -->
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<div class="homefamily">
		<img src="img/personas/personastres.jpg" alt="">
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="espacio">
	</div>
	<!-- social networks -->
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<i class="fa fa-facebook fa-3x"></i>
					<a href="" title="">Visit us in FACEBOOK</a>
					
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<i class="fa fa-twitter fa-3x"></i>
						<a href="" title="">Visit us in TWITTER</a>
					
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<i class="fa fa-google-plus fa-3x">
					</i>
					<a href="" title="">Visit us in GOOGLE+</a>
					
				</div>
			</div><!-- Column -->
		</div><!-- row -->
	</div><!-- container -->
</div>
<!-- espacios -->
<div class="espacio">
</div>
<!-- end espacios -->
<!-- servicios dentales resumen -->
<div class="container-fluid homeservices">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2>Some of our Services</h2>
		</div><!-- Titulo -->
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="media">
					<a class="pull-left" href="#">
						<img class="media-object" width="100px" src="img/teeth/teeth8.png" alt="Image">
					</a>
					<div class="media-body">
						<h4 class="media-heading">Dental Cleaning and Scaling:</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="media">
					<a class="pull-left" href="#">
						<img class="media-object" width="100px" src="img/teeth/teeth4.png" alt="Image">
					</a>
					<div class="media-body">
						<h4 class="media-heading">Root Canal Treatment:</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="media">
					<a class="pull-left" href="#">
						<img class="media-object" width="100px" src="img/teeth/teeth2.png" alt="Image">
					</a>
					<div class="media-body">
						<h4 class="media-heading">Porcelain Veneers:</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="media">
					<a class="pull-left" href="#">
						<img class="media-object"  width="100px" src="img/teeth/teeth7.png" alt="Image">
					</a>
					<div class="media-body">
						<h4 class="media-heading">Dental Examination and Diagnosis:</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
			</div>
		</div>
</div> <!-- contenedor -->
</template>