<template name="services">
	<div class="container-fluid about-container">
		<h2>Our Services</h2>
		<div class="container">
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
				<h3>Dental Cleaning and Scaling</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<img class="col-xs-2 col-sm-2 col-md-2 col-lg-2" src="img/personas/personasuno.jpg" alt="">
		</div>
		<hr>
		<div class="container">
			<img class="col-xs-2 col-sm-2 col-md-2 col-lg-2" src="img/personas/personasdos.jpg" alt="">
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
				<h3>Root Canal Treatment</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum..</p>
			</div>
		</div>
		<hr>

		<div class="container">
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
				<h3>Porcelain Veneers</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<img class="col-xs-2 col-sm-2 col-md-2 col-lg-2" src="img/personas/personasuno.jpg" alt="">
		</div>
		<hr>
		<div class="container">
			<img class="col-xs-2 col-sm-2 col-md-2 col-lg-2" src="img/personas/personasdos.jpg" alt="">
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
				<h3>Dental Examination and Diagnosis</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum..</p>
			</div>
		</div>
		<hr>

		<div class="container">
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
				<h3>Restorative Dentistry</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<img class="col-xs-2 col-sm-2 col-md-2 col-lg-2" src="img/personas/personasuno.jpg" alt="">
		</div>
		<hr>
		<div class="container">
			<img class="col-xs-2 col-sm-2 col-md-2 col-lg-2" src="img/personas/personasdos.jpg" alt="">
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
				<h3>Wisdom Teeth Removal Surgery</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum..</p>
			</div>
		</div>
	<hr>
		<div class="container">
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
				<h3>Example title</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<img class="col-xs-2 col-sm-2 col-md-2 col-lg-2" src="img/personas/personasuno.jpg" alt="">
		</div>
		<hr>
		<div class="container">
			<img class="col-xs-2 col-sm-2 col-md-2 col-lg-2" src="img/personas/personasdos.jpg" alt="">
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
				<h3>Example title</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum..</p>
			</div>
		</div>
		
		
		
	</div>
</template>