<template name="header">
<!-- {{> contact}} -->
	<nav class="navbar navbar-default menu" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	  <span class="sr-only">Toggle navigation</span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="/">ClinicalME
	</a>	
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
	<ul class="nav navbar-nav menuHeader">
	  <li><a href="/">Home</a></li>
	  <li><a href="/about">About us</a></li>
	  <li><a href="/services">Services</a></li>
	  <li><a data-toggle="modal" href="#modal-contact">Contact</a></li>
	  {{#if currentUser}}
	  <li><a href="/contact">My dashboard patient</a></li>
	  {{/if}}

	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li><a href="#"> {{> loginButtons}}</a></li>
	</ul>
  </div><!-- /.navbar-collapse -->
	
</nav>
<div class="container-fluid sliderhome">
	<div class="container-fluid">
		
		<div >
			<h1>ClinicalME</h1>
			<h4>Oral health for a healthy smile.</h4>
			
			
		</div>
		
	</div>
</div>
</template>